In [6]:
import os
os.getcwd()

'/Users/m.almarhoon'

In [7]:
import pandas as pd

df = pd.read_csv("house.csv")
df.shape

(8320, 21)

In [8]:
df.head()     
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8320 entries, 0 to 8319
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  8320 non-null   int64
 1   location            8320 non-null   object
 2   location_area       8320 non-null   object
 3   seller_type         8320 non-null   object
 4   type                8320 non-null   object
 5   partitioning        8146 non-null   object
 6   comfort             8065 non-null   object
 7   price               8320 non-null   int64
 8   rooms_count         8319 non-null   float64
 9   useful_surface      8246 non-null   float64
 10  built_surface       7399 non-null   float64
 11  construction_year   8180 non-null   float64
 12  real_estate_type    8281 non-null   object
 13  height_regime       8167 non-null   object
 14  level               8319 non-null   object
 15  max_level           8118 non-null   float64
 16  kitchens_count      7157 non-null   float64
 17  bathrooms_count     8002 non-null   float64
 18  garages_count       500 non-null    float64
 19  parking_lots_count  2009 non-null   float64
 20  balconies_count     6218 non-null   float64
dtypes: float64(10), int64(2), object(9)
memory usage: 1.3+ MB